REVIEW_GITHUB_APP_PRIVATE_KEY = """-----BEGIN RSA PRIVATE KEY-----
YOUR_PRIVATE_KEY_HERE
-----END RSA PRIVATE KEY-----
"""
REVIEW_GITHUB_APP_ID = "YOUR_APP_ID_HERE"
OPENAI_API_KEY = "sk-YOUR-OPENAI-API-KEY-HERE"