version: '3.8'

services:
  neo4j:
    image: neo4j:5.26.15-community-bullseye
    container_name: my_neo4j
    ports:
      - 7474:7474
      - 7687:7687
    volumes:
      - neo4j_data:/data
      - neo4j_logs:/logs
    networks:
      - mynetwork

networks:
  mynetwork:
    driver: bridge

volumes:
  neo4j_data:
  neo4j_logs: